* {
    color: #051533;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    overflow-x: hidden;
    background-color: #26f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border-color: #136 solid;
}
li , .top{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 750px;
}
h1, #BuildCardButton{
    font-size: 50px;
    padding: 7px;
    margin: 0;
}
input {
    background-color: #fff;
}

section, h1,  h3, label, li, ul, span, p {
    background-color: #40a0ff;
    /* height: 100%; */
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#Card-Text {
    font-size: 15px;
    width: 313px;
    height: 313px;
    resize: none;
}

